<b> Sort the protoplast luminescence data from the xlsx output from the Glariostar platereader. 
Use 2 input excels at a time (one firefly, one nanoluc)

In [14]:
import pandas as pd
import numpy as np
import os
from pathlib import Path
import glob

In [15]:
def xlsx_2_csv(xlsx):  
    """ Function to read and convert xlsx file to csv file. Also return the data (name of the folder the xlsx is in)"""
    
    # Read in the xlsx file, second sheet
    file = pd.read_excel(xlsx, 'Table End point', index_col=None) 
    
    filename = os.path.basename(xlsx)
    removed_extension = os.path.splitext(filename)[0]
    path = Path(xlsx).parent #find parent directory to the one the xlsx fields are in
    date = Path(xlsx)
    
    file.to_csv(f'{path}/{removed_extension}.csv', encoding='utf-8', index=False)

In [39]:
def combine_csvs(input_fluc,input_nluc,layout_csv,date,output_file_means,output_file_raw):
    """Function to combine two csv files containingg luminescence data, and label values using layout csv file (plate layout)"""
    #read in files
    fluc = pd.read_csv(input_fluc, header=0)
    nluc = pd.read_csv(input_nluc, header=0)
    print(nluc.columns)
    layout_df = pd.read_csv(layout_csv, header=0)
    #make new df with correct column names, including both fluc and nluc data
    #combined = fluc[['Well\nRow', 'Well\nCol', 'Content','Average over replicates based on Blank corrected (No filter)']].copy()
    combined = fluc[['Well','Content','Luminescence']].copy()  

    #combined.rename(columns = {'Well\nRow':'well_row', 'Well\nCol':'well_col', 'Content':'content', 'Average over replicates based on Blank corrected (No filter)':'fluc_luminescence'}, inplace = True)
    combined.rename(columns = {'Well':'well','Content':'content', 'Luminescence':'fluc_luminescence'}, inplace = True)
    combined['nluc_luminescence'] = nluc['Luminescence'].copy()
    #add well row and column columns
    combined['well_row'] = combined.well.str[:1]
    combined['well_col'] = combined.well.str[-2:]
    #mask any values less than 400 (turn into NaNs)  
    combined['fluc_luminescence'] = combined.fluc_luminescence.mask(combined.fluc_luminescence < 400)
    combined['nluc_luminescence'] = combined.nluc_luminescence.mask(combined.nluc_luminescence < 400)
    #prepend layout well col with a 0
    layout = layout_df.copy()
    layout['well_col'] = layout_df['well_col'].astype(str).str.zfill(width=2)
    #change df content data type to string
    combined.content = combined.content.astype(str)
    #merge layout with combined
    combined_named = pd.merge(combined, layout, on=['well_row','well_col'])
    #convert well_col column data type to string so it is excluded from the next bit
    combined_named.well_col = combined_named.well_col.astype(np.str)
    #add new column, nluc/fluc
    combined_named['nluc/fluc'] = combined_named.nluc_luminescence / combined_named.fluc_luminescence
    #remove NaNs
    combined_named_no_null = combined_named[pd.notnull(combined_named['nluc/fluc'])]
    #add date to the data
    combined_named_no_null_date = combined_named_no_null.copy()
    combined_named_no_null_date['date'] = date
    #make csv of raw data
    combined_named_no_null_date.to_csv(output_file_raw, encoding='utf-8', index=False)
    #make new df with mean luminescence
    mean = combined_named_no_null[['name','condition', 'nluc/fluc']].groupby(['name','condition']).mean().reset_index()
    ######mean = combined_named_no_null[['name', 'nluc/fluc']].groupby('name').mean().reset_index()
    mean.rename(columns = {'nluc/fluc':'mean_luminescence'}, inplace = True)
    #add standard error
    standard_error = combined_named_no_null[['name','condition', 'nluc/fluc']].groupby(['name','condition']).sem().reset_index()
    #####standard_error = combined_named_no_null[['name','nluc/fluc']].groupby('name').sem().reset_index()
    standard_error.rename(columns = {'nluc/fluc':'standard_error'}, inplace=True)
    mean_samples = pd.merge(mean, standard_error, on=['name','condition'])
    #####mean_samples = pd.merge(mean, standard_error, on='name')
    #add date of experiment
    mean_samples['date'] = date
    #create output file
    mean_samples.to_csv(output_file_means, encoding='utf-8', index=False)

In [45]:
date = '28.6.21'
input_fluc = f'../../data/luminescence/to_be_sorted/{date}/plate3_fluc_edited.csv'
input_nluc = f'../../data/luminescence/to_be_sorted/{date}/plate3_nluc_edited.csv'
layout = f'../../data/luminescence/to_be_sorted/{date}/layout.csv'
output = f'../../data/luminescence/to_be_sorted/{date}/plate3_output_means.csv'
output_raw = f'../../data/luminescence/to_be_sorted/{date}/plate3_output_raw.csv'

In [20]:
#find all xlsx files recursively in the 'to_be_sorted' folder
xlsx_filenames = glob.glob(f'../../data/luminescence/to_be_sorted/{date}/*.xlsx', recursive=True)

In [21]:
#run the xlsx_2_csv function across all xlsx file in to_be_sorted folder
list(map(xlsx_2_csv,xlsx_filenames))

[None, None, None, None, None, None]

use os.scandir when scanning a directory, this is the fastest way according to Matt

In [85]:
# input_fluc = '../../data/luminescence/to_be_sorted/24.11.19/nitrate_free_phytogel_fluc.csv'
# input_nluc = '../../data/luminescence/to_be_sorted/24.11.19/nitrate_free_phytogel_nluc.csv'
# layout = '../../data/luminescence/to_be_sorted/24.11.19/layout.csv'
# output = '../../data/luminescence/to_be_sorted/24.11.19/output_means.csv'
# output_raw = '../../data/luminescence/to_be_sorted/24.11.19/output_raw.csv'
# date = '24.11.19'

In [46]:
combine_csvs(input_fluc,input_nluc,layout,date,output, output_raw)

Index(['Well', 'Content', 'Luminescence'], dtype='object')

In [28]:
fluc = pd.read_csv(input_fluc, header = 0)
nluc = pd.read_csv(input_nluc, header = 0)
layout = pd.read_csv(layout, header = 0)

In [26]:
fluc.columns

Index(['Well\nRow', 'Well\nCol', 'Content', 'Raw Data (No filter)',
       'Blank corrected based on Raw Data (No filter)',
       'Average over replicates based on Blank corrected (No filter)'],
      dtype='object')

In [27]:
nluc

,Well\nRow,Well\nCol,Content,Raw Data (No filter),Blank corrected based on Raw Data (No filter),Average over replicates based on Blank corrected (No filter)
0,A,1,Sample X1,46764004,46763438.0,46763438.0
1,A,2,Sample X6,5237598,5237032.0,5237032.0
2,A,3,Sample X11,2987517,2986951.0,2986951.0
3,A,4,Sample X16,8128457,8127891.0,8127891.0
4,A,5,Sample X21,10918847,10918281.0,10918281.0
5,A,6,Sample X26,4832534,4831968.0,4831968.0
6,A,7,Sample X31,2671087,2670521.0,2670521.0
7,A,8,Sample X36,3483987,3483421.0,3483421.0
8,A,9,Sample X41,3479548,3478982.0,3478982.0
9,B,1,Sample X2,51752,51186.0,51186.0
10,B,2,Sample X7,21591,21025.0,21025.0
11,B,3,Sample X12,11030,10464.0,10464.0
12,B,4,Sample X17,11725,11159.0,11159.0
13,B,5,Sample X22,71132,70566.0,70566.0
14,B,6,Sample X27,45034,44468.0,44468.0
15,B,7,Sample X32,26116,25550.0,25550.0
16,B,8,Sample X37,44271,43705.0,43705.0
17,B,9,Sample X42,40662,40096.0,40096.0
18,C,1,Sample X3,2847965,2847399.0,2847399.0
19,C,2,Sample X8,1054803,1054237.0,1054237.0
20,C,3,Sample X13,1327459,1326893.0,1326893.0
21,C,4,Sample X18,58362,57796.0,57796.0
22,C,5,Sample X23,3210202,3209636.0,3209636.0
23,C,6,Sample X28,878560,877994.0,877994.0
24,C,7,Sample X33,347517,346951.0,346951.0
25,C,8,Sample X38,585688,585122.0,585122.0
26,C,9,Sample X43,44600,44034.0,44034.0
27,D,1,Sample X4,49315,48749.0,48749.0
28,D,2,Sample X9,28707,28141.0,28141.0
29,D,3,Sample X14,29122,28556.0,28556.0
30,D,4,Sample X19,16841,16275.0,16275.0
31,D,5,Sample X24,43742,43176.0,43176.0
32,D,6,Sample X29,14247,13681.0,13681.0
33,D,7,Sample X34,16452,15886.0,15886.0
34,D,8,Sample X39,16888,16322.0,16322.0
35,D,9,Sample X44,13927,13361.0,13361.0
36,E,1,Sample X5,228586,228020.0,228020.0
37,E,2,Sample X10,6766,6200.0,6200.0
38,E,3,Sample X15,18735,18169.0,18169.0
39,E,4,Sample X20,32610,32044.0,32044.0
40,E,5,Sample X25,3984,3418.0,3418.0
41,E,6,Sample X30,4688,4122.0,4122.0
42,E,7,Sample X35,2667,2101.0,2101.0
43,E,8,Sample X40,63091,62525.0,62525.0
44,E,9,Sample X45,11606,11040.0,11040.0
45,H,1,Blank B,550,NaN,NaN
46,H,2,Blank B,562,NaN,NaN
47,H,3,Blank B,586,NaN,NaN

In [54]:
combined = fluc[['Well\nRow', 'Well\nCol', 'Content','Average over replicates based on Blank corrected (No filter)']].copy()

rename columns

In [55]:
combined.rename(columns = {'Well\nRow':'well_row', 'Well\nCol':'well_col', 'Content':'content', 'Average over replicates based on Blank corrected (No filter)':'fluc_luminescence'}, inplace = True)

In [56]:
combined['nluc_luminescence'] = nluc[['Average over replicates based on Blank corrected (No filter)']].copy()

In [57]:
#make any values less than 400 NaN
#combined.nluc_luminescence = combined.mask(combined.nluc_luminescence < 400)
combined['fluc_luminescence'] = combined.fluc_luminescence.mask(combined.fluc_luminescence < 400)
combined['nluc_luminescence'] = combined.nluc_luminescence.mask(combined.nluc_luminescence < 400)

In [58]:
combined

   well_row  well_col     content  fluc_luminescence  nluc_luminescence
0         A         1   Sample X1           394917.0         46763438.0
1         A         2   Sample X6           125696.0          5237032.0
2         A         3  Sample X11            64547.0          2986951.0
3         A         4  Sample X16            95437.0          8127891.0
4         A         5  Sample X21           118307.0         10918281.0
5         A         6  Sample X26            71519.0          4831968.0
6         A         7  Sample X31            84739.0          2670521.0
7         A         8  Sample X36           114046.0          3483421.0
8         A         9  Sample X41            74478.0          3478982.0
9         B         1   Sample X2           188045.0            51186.0
10        B         2   Sample X7            54247.0            21025.0
11        B         3  Sample X12            10562.0            10464.0
12        B         4  Sample X17             1557.0            11159.0
13        B         5  Sample X22           199925.0            70566.0
14        B         6  Sample X27            52264.0            44468.0
15        B         7  Sample X32            13767.0            25550.0
16        B         8  Sample X37            34475.0            43705.0
17        B         9  Sample X42            24333.0            40096.0
18        C         1   Sample X3            68597.0          2847399.0
19        C         2   Sample X8            22917.0          1054237.0
20        C         3  Sample X13            44724.0          1326893.0
21        C         4  Sample X18              812.0            57796.0
22        C         5  Sample X23            57708.0          3209636.0
23        C         6  Sample X28            27942.0           877994.0
24        C         7  Sample X33            12652.0           346951.0
25        C         8  Sample X38            19284.0           585122.0
26        C         9  Sample X43              974.0            44034.0
27        D         1   Sample X4            27937.0            48749.0
28        D         2   Sample X9             6657.0            28141.0
29        D         3  Sample X14            12646.0            28556.0
30        D         4  Sample X19                NaN            16275.0
31        D         5  Sample X24            46827.0            43176.0
32        D         6  Sample X29              978.0            13681.0
33        D         7  Sample X34             1396.0            15886.0
34        D         8  Sample X39              549.0            16322.0
35        D         9  Sample X44             5742.0            13361.0
36        E         1   Sample X5           192462.0           228020.0
37        E         2  Sample X10            10905.0             6200.0
38        E         3  Sample X15            32752.0            18169.0
39        E         4  Sample X20            69812.0            32044.0
40        E         5  Sample X25             1483.0             3418.0
41        E         6  Sample X30             6590.0             4122.0
42        E         7  Sample X35             1274.0             2101.0
43        E         8  Sample X40            28247.0            62525.0
44        E         9  Sample X45             5558.0            11040.0
45        H         1     Blank B                NaN                NaN
46        H         2     Blank B                NaN                NaN
47        H         3     Blank B                NaN                NaN

In [59]:
#rename well_row in layout
layout

   well_row  well_col     name     condition
0         A         1  71 + 72  nitrate_free
1         B         1    25+72  nitrate_free
2         C         1    35+72  nitrate_free
3         D         1    36+72  nitrate_free
4         E         1    92+72  nitrate_free
..      ...       ...      ...           ...
91        D        12        0           NaN
92        E        12        0           NaN
93        F        12        0           NaN
94        G        12        0           NaN
95        H        12        0           NaN

[96 rows x 4 columns]

#### merge layout with combined

In [60]:
combined_named = pd.merge(combined, layout, on=['well_row','well_col'])

In [61]:
#convert well_col column data type to string so it is excluded from the next bit
combined_named.well_col = combined_named.well_col.astype(np.str)

#### add new column, nluc/fluc

In [62]:
combined_named['nluc/fluc'] = combined_named.nluc_luminescence / combined_named.fluc_luminescence

In [63]:
#remove NaNs
combined_named_no_null = combined_named[pd.notnull(combined_named['nluc/fluc'])]
combined_named_no_null

,well_row,well_col,content,fluc_luminescence,nluc_luminescence,name,condition,nluc/fluc
0,A,1,Sample X1,394917.0,46763438.0,71 + 72,nitrate_free,118.413332
1,A,2,Sample X6,125696.0,5237032.0,71 + 72,nitrate_free,41.664269
2,A,3,Sample X11,64547.0,2986951.0,71 + 72,nitrate_free,46.275598
3,A,4,Sample X16,95437.0,8127891.0,71 + 72,nitrate_2hrs_morning,85.164988
4,A,5,Sample X21,118307.0,10918281.0,71 + 72,nitrate_2hrs_morning,92.287701
5,A,6,Sample X26,71519.0,4831968.0,71 + 72,nitrate_2hrs_morning,67.562018
6,A,7,Sample X31,84739.0,2670521.0,71 + 72,nitrate_overnight,31.514663
7,A,8,Sample X36,114046.0,3483421.0,71 + 72,nitrate_overnight,30.544000
8,A,9,Sample X41,74478.0,3478982.0,71 + 72,nitrate_overnight,46.711539
9,B,1,Sample X2,188045.0,51186.0,25+72,nitrate_free,0.272201
10,B,2,Sample X7,54247.0,21025.0,25+72,nitrate_free,0.387579
11,B,3,Sample X12,10562.0,10464.0,25+72,nitrate_free,0.990721
12,B,4,Sample X17,1557.0,11159.0,25+72,nitrate_2hrs_morning,7.166988
13,B,5,Sample X22,199925.0,70566.0,25+72,nitrate_2hrs_morning,0.352962
14,B,6,Sample X27,52264.0,44468.0,25+72,nitrate_2hrs_morning,0.850834
15,B,7,Sample X32,13767.0,25550.0,25+72,nitrate_overnight,1.855887
16,B,8,Sample X37,34475.0,43705.0,25+72,nitrate_overnight,1.267730
17,B,9,Sample X42,24333.0,40096.0,25+72,nitrate_overnight,1.647803
18,C,1,Sample X3,68597.0,2847399.0,35+72,nitrate_free,41.509089
19,C,2,Sample X8,22917.0,1054237.0,35+72,nitrate_free,46.002400
20,C,3,Sample X13,44724.0,1326893.0,35+72,nitrate_free,29.668478
21,C,4,Sample X18,812.0,57796.0,35+72,nitrate_2hrs_morning,71.177340
22,C,5,Sample X23,57708.0,3209636.0,35+72,nitrate_2hrs_morning,55.618562
23,C,6,Sample X28,27942.0,877994.0,35+72,nitrate_2hrs_morning,31.422017
24,C,7,Sample X33,12652.0,346951.0,35+72,nitrate_overnight,27.422621
25,C,8,Sample X38,19284.0,585122.0,35+72,nitrate_overnight,30.342356
26,C,9,Sample X43,974.0,44034.0,35+72,nitrate_overnight,45.209446
27,D,1,Sample X4,27937.0,48749.0,36+72,nitrate_free,1.744962
28,D,2,Sample X9,6657.0,28141.0,36+72,nitrate_free,4.227280
29,D,3,Sample X14,12646.0,28556.0,36+72,nitrate_free,2.258105
31,D,5,Sample X24,46827.0,43176.0,36+72,nitrate_2hrs_morning,0.922032
32,D,6,Sample X29,978.0,13681.0,36+72,nitrate_2hrs_morning,13.988753
33,D,7,Sample X34,1396.0,15886.0,36+72,nitrate_overnight,11.379656
34,D,8,Sample X39,549.0,16322.0,36+72,nitrate_overnight,29.730419
35,D,9,Sample X44,5742.0,13361.0,36+72,nitrate_overnight,2.326890
36,E,1,Sample X5,192462.0,228020.0,92+72,nitrate_free,1.184753
37,E,2,Sample X10,10905.0,6200.0,92+72,nitrate_free,0.568547
38,E,3,Sample X15,32752.0,18169.0,92+72,nitrate_free,0.554745
39,E,4,Sample X20,69812.0,32044.0,92+72,nitrate_2hrs_morning,0.459004
40,E,5,Sample X25,1483.0,3418.0,92+72,nitrate_2hrs_morning,2.304788
41,E,6,Sample X30,6590.0,4122.0,92+72,nitrate_2hrs_morning,0.625493
42,E,7,Sample X35,1274.0,2101.0,92+72,nitrate_overnight,1.649137
43,E,8,Sample X40,28247.0,62525.0,92+72,nitrate_overnight,2.213509
44,E,9,Sample X45,5558.0,11040.0,92+72,nitrate_overnight,1.986326

In [68]:
mean = combined_named_no_null[['name','condition', 'nluc/fluc']].groupby(['name','condition']).mean().reset_index()
mean.rename(columns = {'nluc/fluc':'mean_luminescence'}, inplace = True)
mean

       name             condition  mean_luminescence
0     25+72  nitrate_2hrs_morning           2.790261
1     25+72          nitrate_free           0.550167
2     25+72     nitrate_overnight           1.590474
3     35+72  nitrate_2hrs_morning          52.739306
4     35+72          nitrate_free          39.059989
5     35+72     nitrate_overnight          34.324808
6     36+72  nitrate_2hrs_morning           7.455392
7     36+72          nitrate_free           2.743449
8     36+72     nitrate_overnight          14.478988
9   71 + 72  nitrate_2hrs_morning          81.671569
10  71 + 72          nitrate_free          68.784400
11  71 + 72     nitrate_overnight          36.256734
12    92+72  nitrate_2hrs_morning           1.129762
13    92+72          nitrate_free           0.769348
14    92+72     nitrate_overnight           1.949657

In [69]:
standard_error = combined_named_no_null[['name','condition', 'nluc/fluc']].groupby(['name','condition']).sem().reset_index()
standard_error.rename(columns = {'nluc/fluc':'standard_error'}, inplace=True)

In [72]:
mean_samples = pd.merge(mean, standard_error, on=['name','condition'])

In [73]:
mean_samples

       name             condition  mean_luminescence  standard_error
0     25+72  nitrate_2hrs_morning           2.790261        2.193078
1     25+72          nitrate_free           0.550167        0.222781
2     25+72     nitrate_overnight           1.590474        0.172189
3     35+72  nitrate_2hrs_morning          52.739306       11.566316
4     35+72          nitrate_free          39.059989        4.871612
5     35+72     nitrate_overnight          34.324808        5.507199
6     36+72  nitrate_2hrs_morning           7.455392        6.533360
7     36+72          nitrate_free           2.743449        0.756559
8     36+72     nitrate_overnight          14.478988        8.061074
9   71 + 72  nitrate_2hrs_morning          81.671569        7.348306
10  71 + 72          nitrate_free          68.784400       24.850146
11  71 + 72     nitrate_overnight          36.256734        5.234907
12    92+72  nitrate_2hrs_morning           1.129762        0.589476
13    92+72          nitrate_free           0.769348        0.207741
14    92+72     nitrate_overnight           1.949657        0.163949

In [74]:
date_of_experiment = '30/8/19'
mean_samples['date'] = date_of_experiment

In [75]:
mean_samples

       name             condition  mean_luminescence  standard_error     date
0     25+72  nitrate_2hrs_morning           2.790261        2.193078  30/8/19
1     25+72          nitrate_free           0.550167        0.222781  30/8/19
2     25+72     nitrate_overnight           1.590474        0.172189  30/8/19
3     35+72  nitrate_2hrs_morning          52.739306       11.566316  30/8/19
4     35+72          nitrate_free          39.059989        4.871612  30/8/19
5     35+72     nitrate_overnight          34.324808        5.507199  30/8/19
6     36+72  nitrate_2hrs_morning           7.455392        6.533360  30/8/19
7     36+72          nitrate_free           2.743449        0.756559  30/8/19
8     36+72     nitrate_overnight          14.478988        8.061074  30/8/19
9   71 + 72  nitrate_2hrs_morning          81.671569        7.348306  30/8/19
10  71 + 72          nitrate_free          68.784400       24.850146  30/8/19
11  71 + 72     nitrate_overnight          36.256734        5.234907  30/8/19
12    92+72  nitrate_2hrs_morning           1.129762        0.589476  30/8/19
13    92+72          nitrate_free           0.769348        0.207741  30/8/19
14    92+72     nitrate_overnight           1.949657        0.163949  30/8/19

## plots

In [77]:
#set style to ticks
sns.set(style="ticks", color_codes=True)

NameError: name 'sns' is not defined

## separate data by condition

In [41]:
# nitrate_free = combined_named_no_null[combined_named_no_null.condition == 'nitrate_free']
# #reset indexes so residuals can be calculated later
# nitrate_free.reset_index(inplace=True)

# nitrate_2hrs_morning = combined_named_no_null[combined_named_no_null.condition == 'nitrate_2hrs_morning']
# nitrate_2hrs_morning.reset_index(inplace=True)

# nitrate_overnight = combined_named_no_null[combined_named_no_null.condition == 'nitrate_overnight']
# nitrate_overnight.reset_index(inplace=True)

In [79]:
pd.Categorical(combined_named_no_null.condition)
names = combined_named_no_null.condition.unique()
for name in names:
    print(name)

nitrate_free
nitrate_2hrs_morning
nitrate_overnight